.App {
  font-family: sans-serif;
  text-align: center;
}

nav ul {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: aqua;
  padding-top: 15px;
  padding-bottom: 15px;
}

.brand {
  font-weight: bold;
}

ul li a {
  text-decoration: none;
  color: black;
  transition: all 300ms;
}

ul li a:hover {
  color: yellow;
  text-decoration: underline;
}
